[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
pyflakes = "*"
mypy = "*"
pydocstyle = "*"
black = "==19.3b0"
pylint = "*"
pycodestyle = "*"
pre-commit = "*"

[packages]
nltk = "*"
pymysql = "*"
pymongo = "*"
gensim = "*"
matplotlib = "*"
numpy = "*"

[requires]
python_version = "3.7"
