[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylint = "*"
mypy = "*"
pyflakes = "*"
bandit = "*"
pydocstyle = "*"
pre-commit = "*"
black = "==19.3b0"
flake8 = "*"
faker = "==5.0.0"
pylint-django = "*"

[packages]
django = "~=2.2.0"
djangorestframework = "~=3.11.2"
mysqlclient = "*"

[requires]
python_version = "3.8"
