[mysqld]
user            = mysql
port            = 3306
bind-address    = 0.0.0.0
pid-file        = /var/lib/mysql/mysql.pid
socket          = /var/lib/mysql/mysql.sock
datadir         = /var/lib/mysql
secure-file-priv= /var/lib/mysql-files
default-authentication-plugin=mysql_native_password
skip-host-cache
skip-name-resolve
transaction_isolation = READ-COMMITTED
symbolic-links=0